# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Create a Jupyter Notebook
- List popular languages for Data Science
- List popular libraries for Data Science
- List popular tools for Data Science
- Perform simple arithmetic calculations in python
- Share your notebook through GitHub

# Some of the popular languages that Data Scientists use are:
1. python
2. R
3. SQL
4. java
5. julia

# Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. Matplotlib
3. Scikit-learn
4. Tensorflow
5. Apache spark

# 

 Data Science Tools
-------------------------
* Jupyter notebook
* R studio
* Anaconda

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author

### Nikhil